# Git
.git
.github
.gitignore

# Maven
target/
!target/SecureBank-0.0.1-SNAPSHOT.jar
mvnw
mvnw.cmd
.mvn/

# IDE files
.idea/
.vscode/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/

# Misc
*.log
logs/
.DS_Store
node_modules/
npm-debug.log
README.md
LICENSE